.container {
  display: flex;
  flex-direction: column;
}

.mapArea {
  align-items: stretch;
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 40vh;
}


.map {
  position: inherit !important;
}

.box {
  min-height: 30px;
  overflow: hidden;
  background: black;
  color:  white;
  text-align: center;
  position: relative;
}


