.plpFilter
{
    background-color: #eee;
	border: 1px black ;
    margin: unset;
    padding-left: 20px;
    margin-bottom: 25px;
}

.plpFilter ul
{
    margin-bottom: 0;
}

.title {
    font-size: 15px;
}

.tags {
	list-style: none;
	overflow: hidden;
    font-size: 15px;
    padding: inherit;
}

.tags li {
	float: left;
}

.tag {
	background: #eee;
	border-radius: 3px 0 0 3px;
	color: #999;
	display: inline-block;
	height: 26px;
	line-height: 26px;
	padding: 0 20px 0 23px;
	position: relative;
	text-decoration: none;
	width: 100%;
}

.tag::before {
	background: #eee;
	border-radius: 10px;
	content: '';
	height: 6px;
	left: 10px;
	position: absolute;
	width: 6px;
	top: 10px;
}

.tag::after {
	background: #eee;
	border-bottom: 13px solid transparent;
	border-left: 10px solid #eee;
	border-top: 13px solid transparent;
	content: '';
	position: absolute;
	right: 0;
	top: 0;
}

.tag:hover {
	background-color: crimson;
	color: white;
}

.tag:hover::after {
	 border-left-color: crimson;
}